{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": "cover 100%",
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-reserved-words"]
}