%% coding: utf-8
%% RUNTIME_CONFIG=false
[{secure_notepad_server,[{ecto_repos,['Elixir.SecureNotepadServer.Database.Repo']}]},{hammer,[{backend,{'Elixir.Hammer.Backend.ETS',[{expiry_ms,14400000},{cleanup_interval_ms,600000}]}}]},{elixir,[{config_provider_init,#{'__struct__' => 'Elixir.Config.Provider',config_path => {system,<<82,69,76,69,65,83,69,95,83,89,83,95,67,79,78,70,73,71>>,<<46,99,111,110,102,105,103>>},extra_config => [],providers => [{'Elixir.Config.Reader',{{system,<<82,69,76,69,65,83,69,95,82,79,79,84>>,<<47,114,101,108,101,97,115,101,115,47,48,46,49,46,48,47,114,117,110,116,105,109,101,46,101,120,115>>},[{env,prod},{target,host},{imports,disabled}]}}],prune_runtime_sys_config_after_boot => false,reboot_system_after_config => false,validate_compile_env => [{remote_ip,[debug],error},{mime,[types],error}]}}]}].
